@pricipalFont: Roboto, sans-serif;
@tittleFont: Lobster, cursive;
@textColor: #fff;
@backgroundColor: #413ecc;
@buttonTextColor: #ffffff;
@buttonBackgroundColor: #df0606;

body {
    background-color: @backgroundColor;
    font-family: @pricipalFont;
    color: @textColor;
}

h1 {
    font-family: @tittleFont;
    font-size: 3em;
}

main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

button {
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 16px;
    border-radius: 8px;
    border: none;
    background-color: @buttonBackgroundColor;
    color: @buttonTextColor;
    font-family: @pricipalFont;

    &:hover {
        background-color: #df0606cc;
    }

}

input {
    display: block;
    margin: 16px auto 0;
    font-size: 2em;
    max-width: 120px;
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    border: none;
    border-bottom: 3px solid #fff;
}

.result {
    padding: 16px;
    margin-top: 56px;
    border: 8px dotted #fff;
    display: none;

    span {
        font-weight: bold;
        font-size: 3em;
        display: block;
    }
}
