@pricipalFont: Roboto, sans-serif;
@tittleFont: Lobster, cursive;
@textColor: #fff;
@backgroundColor: #d50e0e;

body {
    background-color: @backgroundColor;
    font-family: @pricipalFont;
    color: @textColor;
}

h1 {
    font-family: @tittleFont;
    font-size: 3em;
}